img {
  max-height: 100px;
  max-width: 180px;
}

tr {
  border: solid 2px black;
}

tr {
  transition: background-color 1s;
  font-size: larger;
}

tr:hover {
  background-color: grey;
}

.hidecolour {
  text-decoration: none;
  color: black;
}

.centrecolumn {
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 400px;
}
