input {
  width: 400%;
  border: solid 1px black;
}

a {
  text-decoration: none;
  color: black;
}

.body {
  color: white;
}

.bigger {
  border: solid 1px black;
  border-radius: 0px 5px 5px 0px;
  height: 101%;
}

.noborders {
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}
