<div class="mt-3 ms-5 title">
  <span *ngIf="isUserLoggedIn; else notLoggedIn">
    <h1><em>Welcome {{ userName }}, these are the trending games:</em></h1>
  </span>

  <ng-template #notLoggedIn>
    <span><h1><em>#TRENDING GAMES</em></h1></span>
  </ng-template>
</div>

<div class="row">

  <div class="d-flex flex-wrap justify-content-evenly">

    <div class="card" style="width: 390px;" *ngFor="let i of topTenGames">
      <a (click)="goToGameDetail(i.gameId)">
        <img src="{{ i.backgroundImageUrl }}" class="card-img-top">
      </a>

      <div class="card-body">
        <h5 class="card-title"><b>{{ i.name }}</b></h5>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Release Date: <em>{{ i.releasedDate }}</em></li>
        <li class="list-group-item">ESRB Ratings: <em>{{ i.esrbRating }}</em></li>
        <li class="list-group-item">Genres:
          <span *ngFor="let g of i.genres">
            {{ g }}
          </span>
        </li>
      </ul>

      <div class="card-body">
        <button class="btn btn-outline-dark noborders"
          title="Add to wishlist"
          (click)="saveToWishlist(i)">
          <i class="bi bi-postcard-heart"></i></button>
      </div>

    </div>

  </div>

  <div style="color: white; margin-left: 20px">
    <em>
      Powered by
      <a href="https://rawg.io/apidocs">RAWG Video Games</a>
    </em>
  </div>

</div>
